.album {
  border: double 8px rgb(122, 111, 111);
  max-height: 30%;
  max-width: 20%;
  min-width: 20%;
  min-height: 30%;
  margin: 5px;
  text-align: right;
  color: antiquewhite;
  background-color: black;
  padding: 1%;
}
.albumdetails {
  padding: 5%;
  text-align: left;
}
.btn-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-ctn button {
  margin-top: 3%;
  height: 33px;
  width: 30%;
  border: 0;
  color: #fff;
  padding: 8px;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}
#update {
  background-color: rgb(88, 198, 234);
}
#update:hover {
  background-color: rgb(44, 91, 107);
  text-decoration: underline;
}
#delete {
  background-color: lightcoral;
}
#delete:hover {
  background-color: red;
  text-decoration: underline;
}
